/*#############################################################
FIXED CONTENT
#############################################################*/

#cover {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

#menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #2980B9;
    width: 20%;
    height: 96.5%;
    position: fixed;
    border-right: 1px solid #1F618D; 
}

#menu li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20% 16px;
    text-decoration: none;
    border-bottom: 1px solid #1F618D;
    font-weight: 900;
    font-family: Karla;
    text-shadow: 1px 1px 0px #000;
}

/* Make hover the same colour as the border */
#menu li a:hover:not(.active) {
    background-color: #1F618D;
}

.active {
    background: blueviolet;
}

body {
    padding: 0px;
    margin: 0px;
    /*overflow-y: scroll;*/ 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3.4%;
    background: #2980B9;
    border-top: 1px solid #1F618D; 
}

#activated {
    position: fixed;
    bottom: 0%;
    right: 0%;
    color: white;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 900;
    font-family: Karla;
    text-shadow: 1px 1px 0px #000;
}

#version {
    position: fixed;
    bottom: 0%;
    left: 0%;
    color: white;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 900;
    font-family: Karla;
    text-shadow: 1px 1px 0px #000;
}

#content {
    overflow: hidden;
    padding: 0;
    margin: 0;
    padding-left: 21%;
}

.submenu {
    content: hidden;
}

/*removes highlighting */
:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}

/*#############################################################
ANALYSE DEALS PAGE
#############################################################*/
.split {
    height: 96.5%;
    width: 40%;
    position: fixed;
    top: 0%;
    overflow-x: hidden;
}

.left{
    left: 20%;
    background: #4d94ff
}

.right{
    right: 0%;
    background: #66a3ff;
}

.left a {
    text-align: center;
    position: fixed;
    width: 40%;
    height: 96.5%;
    color: white;
    font-weight: 900;
    font-family: Karla;
    text-shadow: 1px 1px 0px #000;
}

.left:hover {
    background: blueviolet;
}

.right a {
    text-align: center;
    position: fixed;
    width: 40%;
    height: 96.5%;
    color: white;
    font-weight: 900;
    font-family: Karla;
    text-shadow: 1px 1px 0px #000;

}

.right:hover {
    background: blueviolet;
}

#l {
    position: fixed;
    top: 25%;
    left: 33%;
    color: white;
    font-size: 100px;
}

#r {
    position: fixed;
    top: 23.2%;
    left: 73.6%;
    color: white;
    font-size: 125px;
}

#n1 {
    position: fixed;
    top: 45%;
    font-size: 72px;
}

#n2 {
    position: fixed;
    top: 45%;
    font-size: 72px;
}

#n1 a {
    text-shadow: #2980B9 3px 3px 1px;
}

#n2 a {
    text-shadow: #2980B9 3px 3px 1px;
}

#circlel {
    position: fixed;
    top: 24.5%;
    left: 32%;
    background: #2980B9;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#circler {
    position: fixed;
    top: 24.5%;
    left: 72.8%;
    background: #2980B9;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

/*#############################################################
SETTINGS PAGE
#############################################################*/

.block {
    padding: 5px;
}

/*SECTIONS*/
.c1 {
    position: fixed;
    top: 10%;
}

.c1 input {
    width: 10%;
    overflow: hidden;
    border-radius: 3px;
    position: fixed;
    left: 43%;
}

.c2 {
    position: fixed;
    top: 30.5%; 
}

.c2 input {
    width: 10%;
    overflow: hidden;
    border-radius: 3px;
    position: fixed;
    left: 43%;
}

.c3 {
    top: 10%;
    position: fixed;
    left: 55%;
}

.c3 input {
    width: 10%;
    overflow: hidden;
    border-radius: 3px;
    position: fixed;
    left: 80%;
}

.c4 {
    top: 30.5%;
    position: fixed;
    left: 55%;
}

.c4 input {
    width: 10%;
    overflow: hidden;
    border-radius: 3px;
    position: fixed;
    left: 80%;
}

/*BLOCKS*/
.b5 input {
    position: fixed;
    top: 51.6%;
    
}
.b8 input {
    position: fixed;
    top: 26%;
}

.b10 input {
    position: fixed;
    top: 46.6%;
}

#dft {
    position: fixed;
    left: 22%;
    top: 65%;
}

#save {
    position: fixed;
    left: 42%;
    top: 65%;
}

/*.b11 button {
    position: fixed;
    left: 22%;
    top: 65%;
}*/

label{
    font-size: 14px;
}

.onoffswitch {
    position: fixed;
    top: 3.5%; 
    left: 35%;
    width: 50px;
    -webkit-user-select:none; 
    -moz-user-select:none; 
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block; 
    overflow: hidden; 
    cursor: pointer;
    border: 2px solid #FFFFFF; 
    border-radius: 50px;
}

.onoffswitch-inner {
    display: block; 
    width: 200%; 
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; 
    float: left; 
    width: 50%; 
    height: 25px; 
    padding: 0; 
    line-height: 25px;
    font-size: 25px; 
    color: white; 
    font-family: Trebuchet, Arial, sans-serif; 
    font-weight: bold;
    box-sizing: border-box;
}

.onoffswitch-inner:before {
    content: "";
    padding-left: 14px;
    background-color: #EEEEEE; 
    color: #34A7C1;
}

.onoffswitch-inner:after {
    content: "";
    padding-right: 14px;
    background-color: #EEEEEE; 
    color: #999999;
    text-align: right;
}

.onoffswitch-switch {
    display: block; 
    width: 23px; 
    margin: 1px;
    background: #A1A1A1;
    position: absolute; 
    top: 0; 
    bottom: 0;
    right: 21px;
    border: 2px solid #FFFFFF; 
    border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: #34A7C1; 
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.tooltip {
    position: relative;
    display: inline-block;
    top: 2px;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgba(0, 0, 0, 0.849);
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip .tooltiptext {
    width: 250px;
    bottom: 100%;
    left: 50%; 
    margin-left: -125px; /* Use half of the width (120/2 = 60), to center the tooltip */
    z-index: 1;
}

.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.849) transparent transparent transparent;
}

.tooltip .tooltiptext {
    opacity: 0;
    transition: opacity 1s;
}

.tooltip:hover .tooltiptext {
    opacity: 1;
}

/*#############################################################
REPORT PAGE
#############################################################*/
button {
    background-color: #008CBA;
    padding: 5px;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    position: fixed;
    width: 15%;
    padding: 5px;
    left: 40%;
    top: 55%;
}

#fname {
    position: fixed;
    left: 40%;
    width: 45%;
}

#lname {
    position: fixed;
    left: 40%;
    width: 45%;
}

#email {
    position: fixed;
    left: 40%;
    width: 45%;
}

#summary {
    position: fixed;
    left: 40%;
    width: 45%;
}

#info {
    padding: 0;
    margin: 0;
    position: fixed;
    left: 40%;
    width: 45.3%;
    height: 100px;
}

